%header#hd
  .topline
  .container
    .row
      .span5     
        %input(type="text" placeholder="Search" class="span4")
        .search
          .icon-search
      .span5
        %input(type="text" placeholder="Search by Dress Code" class="span4")
        .search
          .icon-search
      .span6= image_tag('logo.png')
      .span8.search_for
        Search for:
        = check_box_tag 'accept'
        Men
        = check_box_tag 'accept'
        Women
        = check_box_tag 'accept'
        Girls
        = check_box_tag 'accept'
        Boys
        
#bd
  .container#content  
    .item(style="position: absolute; top: 0px; left: 0px;")
      = image_tag('k_pop.jpg')         
    .item(style="position: absolute; top: 0px; left: 242px;")
      = image_tag('hawaiian_wear.jpg')
    .item(style="position: absolute; top: 0px; left: 484px;")
      = image_tag('sail_fashion.jpg')
    .item(style="position: absolute; top: 0px; left: 726px;")
      = image_tag('ball_wear.jpg')
    .item(style="position: absolute; top: 0px; left: 968px;")
      = image_tag('sporty.jpg')
    .item(style="position: absolute; top: 377px; left: 0px;")
      = image_tag('womens_casual.jpg')
    .item(style="position: absolute; top: 379px; left: 242px;")
      = image_tag('workout_wear.jpg')
    .item(style="position: absolute; top: 418px; left: 484px;")
      = image_tag('beach_wear_2.jpg')
    .item(style="position: absolute; top: 363px; left: 726px;")
      = image_tag('dressy.jpg')
    .item(style="position: absolute; top: 305px; left: 968px;")
      = image_tag('casual.jpg')
#fd
  .container
    D2D &copy; 2013- DressToCode.com. All rights are reserved.
