%header#hd
  .topline
  .container
    .row
      .span5     
        %input(type="text" placeholder="Search" class="span4")
        .search
          .icon-search
      .span5
        %input(type="text" placeholder="Search by Dress Code" class="span4")
        .search
          .icon-search
      .span6= image_tag('logo.png')
      .span8.search_for
        Search for:
        = check_box_tag 'accept'
        Men
        = check_box_tag 'accept'
        Women
        = check_box_tag 'accept'
        Girls
        = check_box_tag 'accept'
        Boys
        

.container
  #bd
    .container
      #masonry.masonry
        .item
          = image_tag('ball.jpg')         
        .item
          = image_tag('Beachwear.jpg')
        .item
          = image_tag('casual.jpg')
        .item
          = image_tag('Businessman.jpg')
        .item
          = image_tag('Dressy.jpg')
        .item
          = image_tag('sail.jpg')
        .item
          = image_tag('kpop.jpg')
        .item
          = image_tag('womenscasual.jpg')
        .item
          = image_tag('Workout.jpg')
        .item
          = image_tag('ball.jpg')
        .item
          = image_tag('Businessman.jpg')
        .item
          = image_tag('Dressy.jpg')
        .item
          = image_tag('Hawaiian.jpg')
        .item
          = image_tag('Beachwear.jpg')
#tc_container{:data => "fc", :style => "display: none"}
